#esse .gitignore é coringa, foram apagados apenas os .env, .venv e __pycache__

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/
venv/
ENV/
env/
*.egg-info/
*.egg
dist/
build/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

*.log
*.pid

.railway/
railway.toml
render.yaml
fly.toml

.env
.env.local
.env.*.local

*.db
*.sqlite
*.sqlite3

.pytest_cache/
.coverage
htmlcov/
.tox/

.mypy_cache/
.dmypy.json
dmypy.json

.ipynb_checkpoints/

uploads/
media/

logs/
*.log

Thumbs.db
ehthumbs.db
Desktop.ini

*.pem
*.key
*.crt
*.p12

*.ino
*.bin
*.elf

tmp/
temp/
*.tmp
*.bak